.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.clock {
  display: flex;
  margin-bottom: 50px;
}

.setting {
  display: flex;
  height: max-content;
  background-color: blueviolet;
}

.setting > * {
  padding: 20px;
  font-size: 20vh;
}

@media screen and (orientation:portrait) { 
  .setting > * {
    padding: 20px;
    font-size: 5vw;
  }
}

@media screen and (orientation:landscape) { 
  .setting > * {
    padding: 20px;
    font-size: 3vh;
  }
}