.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.clock {
  display: flex;
  margin-bottom: 50px;
}

.setting {
  display: flex;
  height: max-content;
}

.btn {
  margin: 10px;
}